<h1 class="text-white fadeIn">Foyer</h1>
<div class="bg-dark">
  <!-- ... Other HTML code ... -->
</div>

<div class="fadeIn">
  <!-- Display the table when not loading -->
  <table class="text-capitalize fade show delay-2s table table-dark table-hover">
    <!-- Add 'table-dark' class for dark mode -->
    <thead>
      <tr>
        <th>Nom Foyer</th>
        <th>Capacite Foyer</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let foyer of foyers">
        <tr>
          <td>{{ foyer.nomFoyer }}</td>
          <td>{{ foyer.capaciteFoyer }}</td>
          <td><button class="col-8 btn btn-danger" (click)="deleteFoyer(foyer)">Delete</button></td>
          <td><button class="col-8 btn btn-info update-button" (click)="navigateToUpdate(foyer)">Update</button></td>
        </tr>

        <!-- ... Additional code for the modal ... -->

      </ng-container>
    </tbody>
  </table>
</div>
