<form #studentForm="ngForm" (ngSubmit)="addStudent()">
  <div class="dark-mode bg-dark text-white container">
    <div id="formtitle">Add Student</div>


    <div class="formfield" id="firstnamefield">
      <label for="prenomEtudiant">num chambre</label>
      <input class="dark-mode bg-dark text-white" type="text" name="prenomEtudiant" id="prenomEtudiant" [(ngModel)]="chambre.numeroChambre" required pattern="[0-9]+">
      <div *ngIf="studentForm.controls['prenomEtudiant'].hasError('required') && (studentForm.controls['prenomEtudiant'].dirty || studentForm.controls['prenomEtudiant'].touched)" class="error-message">
        Num chambre is required
      </div>
      <div *ngIf="studentForm.controls['prenomEtudiant'].hasError('pattern') && (studentForm.controls['prenomEtudiant'].dirty || studentForm.controls['prenomEtudiant'].touched)" class="error-message">
        Please enter only numbers
      </div>
    </div>

    <div class="formfield" id="lastnamefield">
      <label for="typeC">Type Chambre</label>
      <select class="dark-mode bg-dark text-white" name="typeC" id="typeC" [(ngModel)]="chambre.typeC" required>
        <option value="SIMPLE">Simple</option>
        <option value="DOUBLE">Double</option>
        <option value="TRIPLE">Triple</option>
      </select>
    </div>

    <button type="submit" *ngIf="studentForm.valid">Save</button>
  </div>
</form>
